<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        width: 500px;
        height: 500px;
        outline: 1px solid #aaa;
      }
      .box {
        width: 50px; /* 注意：行内元素宽高不生效 */
        height: 50px; /* 注意：行内元素宽高不生效 */
        outline: 1px solid #aaa;
      }

      /* 方式1 */
      .container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <span class="box">box</span>
    </div>
  </body>
</html>
